services:
  _defaults:
    autowire: true
    autoconfigure: true

  MyFramework\Core\:
    resource: '../../src/'
    exclude:
      - '../../src/DependencyInjection/'
      # Commands sollen als Services/Console Commands registriert werden
      # (keine weiteren excludes hier)

  MyFramework\Core\Push\VapidConfig:
    arguments:
      $publicKey: '%myframework_core.push.vapid_public_key%'
      $privateKey: '%myframework_core.push.vapid_private_key%'
      $subject: '%myframework_core.push.vapid_subject%'

  MyFramework\Core\UI\Branding:
    arguments:
      $appName: '%myframework_core.ui.app_name%'
      $primaryColor: '%myframework_core.ui.primary_color%'
      $logoPath: '%myframework_core.ui.logo_path%'
      $homeRoute: '%myframework_core.ui.home_route%'

  MyFramework\Core\Security\Service\AuthMailer:
    arguments:
      $fromEmail: '%myframework_core.mailer.from_email%'

  MyFramework\Core\Command\TestMailerCommand:
    arguments:
      $fromEmail: '%myframework_core.mailer.from_email%'

  # Rate limiter factories for authentication endpoints
  # These services will be auto-injected by name in controllers
  auth_login_limiter:
    alias: 'limiter.auth_login'
    public: true

  auth_registration_limiter:
    alias: 'limiter.auth_registration'
    public: true

  auth_password_reset_limiter:
    alias: 'limiter.auth_password_reset'
    public: true

  auth_email_verification_limiter:
    alias: 'limiter.auth_email_verification'
    public: true

  # PWA Bundle - Configure GD Image Processor for icon generation
  SpomkyLabs\PwaBundle\ImageProcessor\ImageProcessorInterface: '@pwa.image_processor.gd'
